{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block contenido %}
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">


<script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Creacion de Usuario</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form  class="form-horizontal" role="form"  method="POST">
    {% csrf_token %}
    <div class="box-body">
        {% if exito %}
          <div class="alert alert-success" role="alert"> 
            Se guardaron los datos correctamente 
          </div>
        {% endif %}
        {{formulario|bootstrap_horizontal  }}
        {{formulario2|bootstrap_horizontal}}
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Guardar Registro</button>
    </div>
  </form>
</div>
</script>


<script>
  $("#id_telefono_fijo, #id_telefono_celular").attr({
   type: 'number',
   onKeyDown:"if(this.value.length==8 && event.keyCode!=8 && event.keyCode!=13) return false;"
})
  $('#id_fecha_nacimiento').daterangepicker({
        //autoUpdateInput: false,
        singleDatePicker: true,
        showDropdowns: true,
        maxDate: moment(),
        locale: {
          format: 'YYYY-MM-DD',
          daysOfWeek: [
            "Do",
            "Lu",
            "Ma",
            "Mi",
            "Ju",
            "Vi",
            "Sa"
        ],
        monthNames: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ],
        },
    },
    function(start, end, label) {
        var years = moment().diff(start, 'years');
        //alert("You are " + years + " years old.");
    }).val('');

</script>
{% endblock %}