{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block contenido %}
<link rel="stylesheet" href="{% static 'plugins/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

<script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Lista de Asistencia</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
    <br>
    <div class="text-center" > 
      <img src="{% static 'img/logo-linkages.jpg' %}"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      <img src="{% static 'img/logo-pepfar.jpg' %}"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      <img src="{% static 'img/logo-usaid.jpg' %}">
    </div>
    <br>
  <form role="form" class="form-horizontal"  method="POST" id='formulario'>
    {% csrf_token %}
    <div class="box-body">
        {% if exito %}
          <div class="alert alert-success" role="alert"> 
            Se guardaron los datos correctamente 
          </div>
        {% endif %}
        
        <div class="row">
          <div class="col-sm-10">
          {{formulario|bootstrap_horizontal:'col-md-4'}}
          </div>
        </div>
        <div class="well">
          <div class="row text-center">
            <div class="col-md-3">Identidad <br><input class="form-control" type="text" id="id_identidad" name=""></div>
            <div class="col-md-5">Nombre<br> <input class="form-control" type="text" id="id_nombre" name=""> </div>
            <div class="col-md-4">Correo<br> <input class="form-control" type="text" id="id_correo" name=""> </div>
          </div>

          <div class="row text-center">
            <div class="col-md-3">Edad<br> <input class="form-control" type="number" id="id_edad" name=""> </div>
            <div class="col-md-3">Telefono <br><input class="form-control" type="text" id="id_telefono" name=""> </div>
            <div class="col-md-3">Cantidad de Condones que recibio<br> <input class="form-control" type="number" id="id_cantidad" name=""></div>
            <div class="col-md-3"><br> <button type="button" id="agregar_participante" class="btn btn-warning">Agregar Participante</button></div>
          </div>

          <div class="label label-danger" style="display:none" role="alert" id='validacion_participante'> 
            Error! Los campos Identidad, Nombre, Edad, Telefono y Cantidad de Condones Recibidos son <b> Obligatorios, por favor revise dichos campos. </b>
          </div>
        </div>

        <div class="box-body table-responsive no-padding">
              <table class="table table-hover" id="tabla">
                <tr>
                  <th></th>
                  <th>Identidad</th>
                  <th>Nombre</th>
                  <th>Correo</th>
                  <th>Edad</th>
                  <th>Telefono</th>
                  <th>Cantidad de Condones que recibio</th>
                </tr>
              </table>
            </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="row">
        <div class="col-xs-12 no-print">
          <button type="submit" id="button" class="btn btn-primary">Guardar Registro</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">

  function quitar(identidad){
    console.log(identidad, 'laksjdlaskjdlasjdla')
    $('#'+identidad).remove()

  }

  $('#agregar_participante').click(function(){
    if($("#id_nombre").val()== '' || $("#id_identidad").val()=='' || $("#id_edad").val()=='' || $("#id_telefono").val()=='' || $("#id_cantidad").val()==''){
      $('#validacion_participante').fadeIn().delay(4000).fadeOut()
      console.log('asdasdasdasd')
    }else{
      console.log('ppasdojskjasdhkasj')
      $('#validacion_participante').hide()

      identidad = $("#id_identidad").val().replace('-', '');
      identidad = identidad.replace('-', '')

      str = "<tr id=" + identidad + ">"
      str += "<td> <button type='button' class='btn btn-danger btn-xs' onclick='quitar(" + identidad + ")'> - </button> </td>"
      str += "<td>" + identidad + " <input type='hidden' name='identidad[]' value='" + identidad + "'> </td>"
      str += "<td>" + $("#id_nombre").val() + " <input type='hidden' name='nombre[" + identidad + "]' value='" +  $("#id_nombre").val() + "'> </td>"
      str += "<td>" + $("#id_correo").val() + " <input type='hidden' name='correo[" + identidad + "]' value='" +  $("#id_correo").val() + "'> </td>"
      str += "<td>" + $("#id_edad").val() + " <input type='hidden' name='edad[" + identidad + "]' value='" +  $("#id_edad").val() + "'> </td>"
      str += "<td>" + $("#id_telefono").val() + " <input type='hidden' name='telefono[" + identidad + "]' value='" +  $("#id_telefono").val() + "'> </td>"
      str += "<td>" + $("#id_cantidad").val() + " <input type='hidden' name='cantidad[" + identidad + "]' value='" +  $("#id_cantidad").val() + "'> </td>"
      str += "</tr>"
      $("#tabla").append(str)

      $("#id_identidad, #id_nombre, #id_correo, #id_edad, #id_telefono, #id_cantidad").val('')
    }
    

  })
  //LOS PLUGINS
  $(":input").inputmask();
  $("select").select2();
   $('#id_fecha').daterangepicker({
        //autoUpdateInput: false,
        singleDatePicker: true,
        showDropdowns: true,
        maxDate: moment(),
        locale: {
          format: 'YYYY-MM-DD',

          daysOfWeek: [
            "Do",
            "Lu",
            "Ma",
            "Mi",
            "Ju",
            "Vi",
            "Sa"
        ],
        monthNames: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ],
        },
    });

  $("#id_telefono").inputmask("9999-9999");

  $("#id_identidad").attr('maxlength', 20).inputmask("9999-9999-99999");

 
</script>

{% endblock %}