{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block contenido %}
<link rel="stylesheet" href="{% static 'plugins/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">


<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Consejería Post Prueba </h3>
  </div>
  <form  class="form-horizontal" role="form"  method="POST">
    {% csrf_token %}
    <div class="box-body">
        {% if exito %}
          <div class="alert alert-success" role="alert"> 
            Se guardaron los datos correctamente 
          </div>
        {% endif %}


        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Identidad</label>
              <div class="col-sm-8 form-inline">
                <input type="text" class="form-control" id='identidad' name="identidad">
                <button type="button" class="btn btn-primary" id="search_identidad"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button><br>
                <span class="label label-danger "  id='error_identidad' style="display:none">No se encontraron registros con la identidad ingresada</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Número de Expediente Clínico</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="expediente" name='expediente' readonly >
                <input type="hidden" class="form-control" id="boleta" name='boleta' readonly >
              </div>
            </div>
          {{formulario.fecha_consejeria|bootstrap_horizontal:'col-md-4'}}
          {{formulario.referido|bootstrap_horizontal:'col-md-4'}}
          
          </div>

          <div class="col-sm-1">
          </div>
          <div class="col-sm-1 pull-right">
          </div>
          <div class="col-sm-2">
            <div class="small-box bg-aqua">
              <div class="inner text-center">
                <b><p id="resultado">SIN RESULTADO</p></b>
              </div>
              <p class="small-box-footer"><b>Resultado</b></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-11">
            {{formulario.observaciones|bootstrap_horizontal:'col-md-3'}}
          </div>
        </div>

      </div>
        
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-xs-12 no-print">
          <button type="submit" class="btn btn-primary">Guardar Registro</button>
          <button type="button" class="btn btn-success"><i class="fa fa-print"></i>Imprimir Boleta
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  $('#id_fecha_consejeria').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        maxDate: moment(),
        locale: {
          format: 'YYYY-MM-DD',
          daysOfWeek: [
            "Do",
            "Lu",
            "Ma",
            "Mi",
            "Ju",
            "Vi",
            "Sa"
        ],
        monthNames: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ],
        },
    },
    function(start, end, label) {
        var years = moment().diff(start, 'years');
        //alert("You are " + years + " years old.");
    });




  //BUSQUEDA DE IDENTIDAD
  $('#identidad').attr({
    type:'number',
    onKeyDown:"if(this.value.length==15 && event.keyCode!=8 && event.keyCode!=13) return false;"
  }).keypress(function (e) {
      identidad = $(this).val().replace('-', '');
      identidad = identidad.replace('-', '')
      var key = e.which;
      if(key == 13){
      event.preventDefault();
        $.ajax({
          url: "{% url 'post_prueba_vih' %}",
          data: { 
                  identidad: identidad
                }
        })
          .done(function( data ) {
            if (data.persona==false){
              $('#error_identidad').show()
              $('#expediente,#id_fecha_consejeria, #id_observaciones, #id_referido').val('')
            }else{
              console.log(data.boleta.boleta__pk, data.boleta)
              $('#error_identidad').hide()
              $('#boleta').val(data.boleta.boleta__pk)
              $('#expediente').val(data.expediente)

              tamizaje = data.boleta.resultado_prueba_tamizaje 
              confimatoria = data.boleta.resultado_prueba_confirmatoria

                if(confimatoria == 1 & tamizaje == 1){
                  $('#resultado').text('POSITIVO')
                }
                if(confimatoria == 1 & tamizaje != 1){
                  $('#resultado').text('NO CONCLUYENTE')
                }
                if(confimatoria != 1 & tamizaje == 1){
                  $('#resultado').text('NO CONCLUYENTE')
                }
                if(confimatoria != 1 & tamizaje != 1){
                  $('#resultado').text('NEGATIVO')
                }

              //SI ES MENOR DE EDAD, SON LOS TUTORES QUE VA EN EL CAMPO DE REFERIDO
              if(data.boleta.boleta__edad_anios <= 18){
                if(data.boleta.boleta__nombre_madre != ''){
                  $('#id_referido').val(data.boleta.boleta__nombre_madre)
                }else if(data.boleta.boleta__nombre_padre != ''){ 
                  $('#id_referido').val(data.boleta.boleta__nombre_padre)
                }else if(data.boleta.boleta__nombre_tutor != ''){
                  $('#id_referido').val(data.boleta.boleta__nombre_tutor)
                }else{
                  $('#id_referido').val(data.boleta.boleta__primer_nombre + ' ' + data.boleta.boleta__segundo_nombre + ' ' + data.boleta.boleta__primer_apellido + ' ' + data.boleta.boleta__segundo_apellido)
                }
                
              }else{
                $('#id_referido').val(data.boleta.boleta__primer_nombre + ' ' + data.boleta.boleta__segundo_nombre + ' ' + data.boleta.boleta__primer_apellido + ' ' + data.boleta.boleta__segundo_apellido)
              }
              
            }
          });
      }
  });


  //BUSQUEDA DE IDENTIDAD
  $('#search_identidad').click(function (e) {
      identidad = $(this).val().replace('-', '');
      identidad = identidad.replace('-', '')
      var key = e.which;
        $.ajax({
          url: "{% url 'post_prueba_vih' %}",
          data: { 
                  identidad: identidad
                }
        })
          .done(function( data ) {
            if (data.persona==false){
              $('#error_identidad').show()
              $('#expediente,#id_fecha_consejeria, #id_observaciones, #id_referido').val('')
            }else{
              console.log(data.boleta.boleta__pk, data.boleta)
              $('#error_identidad').hide()
              $('#boleta').val(data.boleta.boleta__pk)
              $('#expediente').val(data.expediente)

              tamizaje = data.boleta.resultado_prueba_tamizaje 
              confimatoria = data.boleta.resultado_prueba_confirmatoria

                if(confimatoria == 1 & tamizaje == 1){
                  $('#resultado').text('POSITIVO')
                }
                if(confimatoria == 1 & tamizaje != 1){
                  $('#resultado').text('NO CONCLUYENTE')
                }
                if(confimatoria != 1 & tamizaje == 1){
                  $('#resultado').text('NO CONCLUYENTE')
                }
                if(confimatoria != 1 & tamizaje != 1){
                  $('#resultado').text('NEGATIVO')
                }

              //SI ES MENOR DE EDAD, SON LOS TUTORES QUE VA EN EL CAMPO DE REFERIDO
              if(data.boleta.boleta__edad_anios <= 18){
                if(data.boleta.boleta__nombre_madre != ''){
                  $('#id_referido').val(data.boleta.boleta__nombre_madre)
                }else if(data.boleta.boleta__nombre_padre != ''){ 
                  $('#id_referido').val(data.boleta.boleta__nombre_padre)
                }else if(data.boleta.boleta__nombre_tutor != ''){
                  $('#id_referido').val(data.boleta.boleta__nombre_tutor)
                }else{
                  $('#id_referido').val(data.boleta.boleta__primer_nombre + ' ' + data.boleta.boleta__segundo_nombre + ' ' + data.boleta.boleta__primer_apellido + ' ' + data.boleta.boleta__segundo_apellido)
                }
                
              }else{
                $('#id_referido').val(data.boleta.boleta__primer_nombre + ' ' + data.boleta.boleta__segundo_nombre + ' ' + data.boleta.boleta__primer_apellido + ' ' + data.boleta.boleta__segundo_apellido)
              }
              
            }
          });
  });
</script>
{% endblock %}

