{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block contenido %}
<link rel="stylesheet" href="{% static 'plugins/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">


<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Creacion de Usuario</h3>
  </div>
  <form  class="form-horizontal" role="form"  method="POST">
    {% csrf_token %}
    <div class="box-body">
        {% if exito %}
          <div class="alert alert-success" role="alert"> 
            Se guardaron los datos correctamente 
          </div>
        {% endif %}


        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Identidad</label>
              <div class="col-sm-8 form-inline">
                <input type="text" class="form-control" id='identidad' name="identidad" data-inputmask='"mask": "9999-9999-99999"' data-mask>
                <span class="label label-danger "  id='error_identidad' style="display:none">No se encontraron registros con la identidad ingresadda</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Número de Expediente Clínico</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="expediente" name='expediente' readonly >
                <input type="hidden" class="form-control" id="boleta" name='boleta' readonly >
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
          {{formulario.fecha_consejeria|bootstrap_horizontal:'col-md-4'}}
          {{formulario.referido|bootstrap_horizontal:'col-md-4'}}
          {{formulario.observaciones|bootstrap_horizontal:'col-md-4'}}
          </div>
        </div>
        
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-xs-12 no-print">
          <button type="submit" class="btn btn-primary">Guardar Registro</button>
          <button type="button" class="btn btn-success"><i class="fa fa-print"></i>Imprimir Boleta
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  $(":input").inputmask();
  $('#id_fecha_consejeria').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        maxDate: moment(),
        locale: {
          format: 'YYYY-MM-DD',
          daysOfWeek: [
            "Do",
            "Lu",
            "Ma",
            "Mi",
            "Ju",
            "Vi",
            "Sa"
        ],
        monthNames: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ],
        },
    },
    function(start, end, label) {
        var years = moment().diff(start, 'years');
        //alert("You are " + years + " years old.");
    }).val('');




  //BUSQUEDA DE IDENTIDAD
  $('#identidad').keypress(function (e) {
      event.preventDefault();
      identidad = $(this).val().replace('-', '');
      identidad = identidad.replace('-', '')
      var key = e.which;
      if(key == 13){
        $.ajax({
          url: "{% url 'post_prueba_vih' %}",
          data: { 
                  identidad: identidad
                }
        })
          .done(function( data ) {
            if (data.persona==false){
              $('#error_identidad').show()
              $('#expediente,#id_fecha_consejeria, #id_observaciones, #id_referido').val('')
            }else{
              console.log(data.boleta.pk, data.boleta)
              $('#error_identidad').hide()
              $('#boleta').val(data.boleta.pk)
              $('#expediente').val(data.expediente)

              if(data.boleta.edad_anios <= 18){
                if(data.boleta.nombre_madre != ''){
                  $('#id_referido').val(data.boleta.nombre_madre)
                }else if(data.boleta.nombre_padre != ''){ 
                  $('#id_referido').val(data.boleta.nombre_padre)
                }else if(data.boleta.nombre_tutor != ''){
                  $('#id_referido').val(data.boleta.nombre_tutor)
                }else{
                  $('#id_referido').val(data.boleta.primer_nombre + ' ' + data.boleta.segundo_nombre + ' ' + data.boleta.primer_apellido + ' ' + data.boleta.segundo_apellido)
                }
                
              }else{
                $('#id_referido').val(data.boleta.primer_nombre + ' ' + data.boleta.segundo_nombre + ' ' + data.boleta.primer_apellido + ' ' + data.boleta.segundo_apellido)
              }
              
            }
          });
      }
  });
</script>
{% endblock %}

