{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block contenido %}
<link rel="stylesheet" href="{% static 'plugins/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">


<script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<style>
.font-style {
   font-family: consolas, monaco, "Lucida Console", monospace;
   color: #00159E;
   font-size: 34;
   padding: 0;
   font-weight: bold;
}

.sub-style {
   font-family: Tahoma, Verdana, Segoe, sans-serif;
   color: #269AFF;
   font-size: 12;
   font-weight: bold;
}
</style>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Consejería Pre Prueba</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form role="form" class="form-horizontal"  method="POST">
    {% csrf_token %}
    <div class="box-body">
        {% if exito %}
          <div class="alert alert-success" role="alert"> 
            Se guardaron los datos correctamente 
          </div>
        {% endif %}
        <h4 class="text-center font-style"> <b>
          DATOS GENERALES DE LA PERSONA USUARIA DE LOS SERVICIOS
        </b></h4>
        <p class="page-header"></p>

        <div class="row">
          <div class="col-sm-7">
            <div class="form-group">
              <label class="control-label col-md-4 " for="identidad">Identidad</label>
              <div class=" col-md-8 ">
                <input type="text" name="identidad" class="form-control" id='identidad' data-inputmask='"mask": "9999-9999-99999"' data-mask required>
                <input type="checkbox" id="no_identidad"> No tiene Identidad
                <input type="hidden" class="form-control" id='input_expediente' name='expediente'>
                <span class="label label-danger "  id='error_identidad' style="display:none">No se encontraron registros con la identidad ingresadda</span>

              </div>
            </div>
            {{formulario|bootstrap_horizontal:'col-md-4'  }}
          </div>
        </div>
       

        <p class="page-header"></p>
        <div class="row">
              <div class="col-sm-12">
                <div class="alert alert-info text-center">
                  <b> Número de Expediente Clínico o Código Identificador Único  <br> <span id="expediente">  </span>  </b>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label class="control-label pull-right">Edad</label>
            </div>
            <div class="col-sm-2">
              {{formulario2.edad_anios|bootstrap_horizontal:'col-md-4' }}
            </div>
            <div class="col-sm-2">
              {{formulario2.edad_meses|bootstrap_horizontal:'col-md-4' }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7">
              {{formulario2.pseudonimo|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.telefono_fijo|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.telefono_celular|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.ocupacion|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.actividad_economica|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.estado_civil|bootstrap_horizontal:'col-md-4'  }}
            </div>
          </div>



          <p class="page-header"></p>
          <p class="text-center sub-style"> <b>
            DIRECCION ACTUAL
          </b></p>
          <p class="page-header"></p>
          <div class="row">
            <div class="col-sm-7">
              {{formulario2.departamento|bootstrap_horizontal:'col-md-4'  }}
              <div class="form-group">
                <label for="id_municipio" class="col-md-4 control-label">Municipio</label>
                <div class="col-md-8">
                    <select class="form-control" id="id_municipio" name="municipio">
                        <option value="">---------------</option>
                    </select>
                    {{ formulario2.municipio.errors }}
                </div>
              </div>

              <div class="form-group">
                <label for="id_ciudad" class="col-md-4 control-label">Ciudad</label>
                <div class="col-md-8">
                    <select class="form-control" id="id_ciudad" name="ciudad">
                        <option value="">---------------</option>
                    </select>
                    {{ formulario2.aldea.errors }}
                </div>
              </div>

              {{formulario2.barrio|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.calle|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.bloque|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.numero_casa|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.referencias|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.poblacion|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.grupo_etnico|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.otro_grupo_etnico|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.establecimiento|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.condiciones|bootstrap_horizontal:'col-md-4'  }}
              {{formulario2.otro_condicion|bootstrap_horizontal:'col-md-4'  }}
              <div id='embarazada' style="display:none">
                  {{formulario2.fecha_ultima_menstruacion|bootstrap_horizontal:'col-md-4'  }}
              </div>
            </div>
          </div>

          <div id="encargados" style='display: none'>
              <p class="page-header"></p>
              <p class="text-center sub-style"> <b>
                DATOS PADRES Y/O TUTOR
              </b></p>
              <p class="page-header"></p>
            <div class="row">
              <div class="col-sm-7">
                <label class="control-label">DATOS MADRE</label>
                 <br>
                 <br>
                {{formulario2.identidad_madre|bootstrap_horizontal:'col-md-4'  }}
                {{formulario2.nombre_madre|bootstrap_horizontal:'col-md-4'  }}
                {{formulario2.telefono_madre|bootstrap_horizontal:'col-md-4'  }}

                 <label class="control-label">DATOS PADRE</label>
                 <br>
                 <br>
                {{formulario2.identidad_padre|bootstrap_horizontal:'col-md-4'  }}
                {{formulario2.nombre_padre|bootstrap_horizontal:'col-md-4'  }}
                {{formulario2.telefono_padre|bootstrap_horizontal:'col-md-4'  }}

                 <label class="control-label">DATOS ENCARGADO</label>
                 <br>
                 <br>
                {{formulario2.identidad_tutor|bootstrap_horizontal:'col-md-4'  }}
                {{formulario2.nombre_tutor|bootstrap_horizontal:'col-md-4'  }}
                {{formulario2.telefono_tutor|bootstrap_horizontal:'col-md-4'  }}
                {{formulario2.direccion_tutor|bootstrap_horizontal:'col-md-4'  }}
              </div>
          </div>
        </div>

          <p class="page-header"></p>
          <h4 class="text-center font-style"> <b>
            CONSEJERIA PRE PRUEBA
          </b></h4>
          <p class="page-header"></p>
          <div class="row">
            <div class="col-sm-7">
              <div class="form-group">
                <label for="temp1" class="col-md-4 control-label">Identidad</label>
                <div class="col-md-8">
                  <input type="text" name='temp1' readonly class="form-control identidad">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-md-4 control-label">Número de Expediente</label>
                <div class="col-md-8">
                  <input type="text" readonly class="form-control expediente">
                </div>
              </div>
              <div class="form-group">
                <label for="consejero" class="col-md-4 control-label">Nombre del Consejero</label>
                <div class="col-md-8">
                  <input type="text" readonly id="consejero" class="form-control" value="{{user.first_name}} {{user.last_name}}">
                </div>
              </div>
              {{formulario3|bootstrap_horizontal:'col-md-4'  }}
              <div class="form-group">
                <label for="consejero" class="col-md-4 control-label">Leer a Persona</label>
                <div class="col-md-8">
                  <div class="well" >  
                      <input type="checkbox" required> Por este medio autorizo al personal de salud para que me realice la prueba del VIH.
                  </div>  
                </div>
              </div>

            </div>
          </div>

    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <div class="row">
        <div class="col-xs-12 no-print">
          <button type="submit" id="button" class="btn btn-primary">Guardar Registro</button>
          <button type="button" class="btn btn-success"><i class="fa fa-print"></i>Imprimir Boleta
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
  $('#button').click(function(){
    $("#id_fecha_nacimiento, input[name=sexo]").prop('disabled', false)
    return true
  })
  //LOS PLUGINS
  $(":input").inputmask();
  $("select").select2();
  $('#id_fecha_nacimiento').daterangepicker({
        //autoUpdateInput: false,
        singleDatePicker: true,
        showDropdowns: true,
        maxDate: moment(),
        locale: {
          format: 'YYYY-MM-DD',
          daysOfWeek: [
            "Do",
            "Lu",
            "Ma",
            "Mi",
            "Ju",
            "Vi",
            "Sa"
        ],
        monthNames: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ],
        },
    },
    function(start, end, label) {
      console.log(start.format('YYYY-MM-DD'))
      edad = start.format('YYYY-MM-DD').split("-");
      var mes = edad[1];
      var anio = edad[0];
      var anio_actual = new Date().getFullYear();
      var edad_anios = anio_actual - anio;
      var mes_actual = new Date().getMonth()+1;
      var edad_mes = mes_actual - mes;
        
      if (edad_mes < 0){
          if (edad_mes > 0){
             edad_anios = edad_anios-1
             edad_mes = ((12-mes)+mes_actual)
          }
        }

      $('#id_edad_anios').val(edad_anios)
      $('#id_edad_meses').val(Math.abs(edad_mes))

      if(parseInt(edad_anios)<18){
        $('#encargados').show().fadeIn();
      }else{
        $('#encargados').hide().fadeOut();
      }

      //EXPEDIENTE
      identidad = $('#identidad').val().replace('-', '');
      identidad = identidad.replace('-', '')

      expediente = identidad + '-' + start.format('YYYY-MM-DD') + '-' + $('input[name=sexo]').val()
      console.log(expediente)
      $('#expediente').text(btoa(expediente))
      $('#input_expediente, .expediente').val(btoa(expediente))
    }).val('');

   $('#id_fecha_consejeria, #id_fecha_ultima_menstruacion').daterangepicker({
        //autoUpdateInput: false,
        singleDatePicker: true,
        showDropdowns: true,
        maxDate: moment(),
        locale: {
          format: 'YYYY-MM-DD',

          daysOfWeek: [
            "Do",
            "Lu",
            "Ma",
            "Mi",
            "Ju",
            "Vi",
            "Sa"
        ],
        monthNames: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ],
        },
    });

  $("#id_telefono_fijo, #id_telefono_celular, #id_telefono_madre, #id_telefono_padre, #id_telefono_tutor").inputmask("9999-9999");

  $("#id_identidad_madre, #id_identidad_padre, #id_identidad_tutor").attr('maxlength', 20).inputmask("9999-9999-99999");

  //BUSQUEDA DE IDENTIDAD
  $('#identidad').keypress(function (e) {
      event.preventDefault();
      identidad = $(this).val().replace('-', '');
      identidad = identidad.replace('-', '')

      expediente = identidad + '-' + $('#id_fecha_nacimiento').val() + '-' + $('input[name=sexo]').val()
      $('.identidad').val($(this).val())
      $('#expediente').text(btoa(expediente))
      $('#input_expediente, .expediente').val(btoa(expediente))

      var key = e.which;
      if(key == 13){
        $.ajax({
          url: "{% url 'pre_prueba_vih' %}",
          data: { 
                  identidad: identidad
                }
        })
          .done(function( persona ) {
            if (persona==false){
              $('#error_identidad').show().delay(4000).fadeOut()
              $('#id_primer_nombre, #id_segundo_nombre, #id_primer_apellido, #id_segundo_apellido, #id_fecha_nacimiento').prop('readonly', false).val('')
              $('#id_fecha_nacimiento, input[name=sexo]').prop('disabled',false).val('')


            }else{
              $('#error_identidad').hide()
              $('#id_primer_nombre').val(persona.primer_nombre).prop('readonly', true)
              $('#id_segundo_nombre').val(persona.segundo_nombre).prop('readonly', true)
              $('#id_primer_apellido').val(persona.primer_apellido).prop('readonly', true)
              $('#id_segundo_apellido').val(persona.segundo_apellido).prop('readonly', true)
              $('#id_fecha_nacimiento').val(persona.fecha_nacimiento).prop('readonly', true).prop('disabled', true)
              
              $('input[name=sexo]').prop('disabled',true).val('')
              $('#id_sexo_'+(persona.sexo-1)).prop('checked', true)

              //ESA ONDA DE EMBARADA
              if (persona.sexo == 1){
                $("#id_condiciones option[value='"+ embarazada_id +"']").remove();
              }else{
                $("#id_condiciones").append('<option value="'+ embarazada_id +'">Embarazada</option>');
              }

              //CALCULO DE EDAD
              edad = $('#id_fecha_nacimiento').val().split("-");
              var mes = edad[1];
              var anio = edad[0];
              var anio_actual = new Date().getFullYear();
              var edad_anios = anio_actual - anio;
              var mes_actual = new Date().getMonth()+1;
              var edad_mes = mes_actual - mes;
                
              if (edad_mes < 0){
                  if (edad_mes > 0){
                     edad_anios = edad_anios-1
                     edad_mes = ((12-mes)+mes_actual)
                  }
                }

              $('#id_edad_anios').val(edad_anios)
              $('#id_edad_meses').val(Math.abs(edad_mes))

              if(parseInt(edad_anios)<18){
                $('#encargados').show().fadeIn();
              }else{
                $('#encargados').hide().fadeOut();
              }

              expediente = identidad + '-' + persona.fecha_nacimiento + '-' + persona.sexo
              $('#expediente').text(btoa(expediente))
              $('#input_expediente, .expediente').val(btoa(expediente))
            }
          });
      }
  }); 


//ESTA SECCION ES DE LOS SELECT DE DEPTO; MUNICIPIO; DEPARTAMENTO DE CONCURSO
    function ajaxsace(tabla, valor, select){
       $('#' + select).empty();
      $('#' + select).append("<option value=''>---------------</option>");
      valor= $('#'+valor).val()
      $.ajax({
        type: "GET",
        data:
          { tabla: tabla, valor: valor },
        url: "/boleta/ajax/",
        success: function(msg)
        {
          $.each(msg, function(key, val)
          {
            $('#' + select).append("<option value="+val.id+">" + '' + val.codigo + ' | ' + val.nombre + "</option>");
          });
          $('#' + select).trigger("chosen:updated");
        }
      });
    }
    
    if ($('#id_departamento').val() != ''){
      ajaxsace('municipio', 'id_departamento', 'id_municipio' )
    }

    $('#id_departamento').change(function(){
      ajaxsace('municipio', 'id_departamento', 'id_municipio' )
    })

    $('#id_municipio').change(function(){
      ajaxsace('ciudad', 'id_municipio', 'id_ciudad' )
    })

//NO IDENTIDAD
$('#no_identidad').change(function(){
  no_identidad = $(this).prop('checked')
  if (no_identidad == true){
    rand = Math.floor(Math.random()*99999999999999+1);
    $('#identidad').val(rand)
    $('#id_primer_nombre').prop('readonly', false).val('')
    $('#id_segundo_nombre').prop('readonly', false).val('')
    $('#id_primer_apellido').prop('readonly', false).val('')
    $('#id_segundo_apellido').prop('readonly', false).val('')
    $('#id_fecha_nacimiento').prop('disabled', false).val('')
    $('input[name=sexo]').prop('disabled', false).val('')
    $('#id_edad_anios').val('')
    $('#id_edad_meses').val('')
    $('#expediente').text('')

  }else{
    $('#identidad').val('')
    $('#id_primer_nombre').prop('readonly', true).val('')
    $('#id_segundo_nombre').prop('readonly', true).val('')
    $('#id_primer_apellido').prop('readonly', true).val('')
    $('#id_segundo_apellido').prop('readonly', true).val('')
    $('#id_fecha_nacimiento').prop('disabled', true).val('')
    $('input[name=sexo]').prop('disabled', true).val('')
    $('#id_edad_anios').val('')
    $('#id_edad_meses').val('')
    $('#expediente').text('')
  }
  
})

var embarazada_id = {{embarazada.pk}}
$("#id_condiciones option[value="+ embarazada_id +"]").remove();

//NO IDENTIDAD
$(document).on("click","input[name='sexo']:radio",function(){
  genero = $('input[name=sexo]').val()

  //EXPEDIENTE
  identidad = $('#identidad').val().replace('-', '');
  identidad = identidad.replace('-', '')
  expediente = identidad + '-' + $('#id_fecha_nacimiento').val() + '-' + $("input:radio[name='sexo']:checked").val()
  $('#expediente').text(btoa(expediente))
  $('#input_expediente, .expediente').val(btoa(expediente))
  

  if (genero == 1){
    $("#id_condiciones option[value='"+ embarazada_id +"']").remove();
    $('#embarazada').hide()
  }else{
    $("#id_condiciones").append('<option value="'+ embarazada_id +'">Embarazada</option>');
  }
  
})


//EMBARAZADA
$('#id_condiciones').change(function(){
  valores = $(this).val()
  embarazada = jQuery.inArray( embarazada_id.toString(), valores )
  if( embarazada >= 0) {
    console.log('PASO POR AQUI')
    $('#embarazada').show()
  }else{
    $('#embarazada').hide()
  }
})
</script>

{% endblock %}