{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block contenido %}
<link rel="stylesheet" href="{% static 'plugins/select2/select2.css' %}">
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Prueba de VIH</h3>
  </div>
  <form  class="form-horizontal" role="form"  method="POST">
    {% csrf_token %}
    <div class="box-body">
        {% if exito %}
          <div class="alert alert-success" role="alert"> 
            Se guardaron los datos correctamente 
          </div>
        {% endif %}
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Identidad</label>
              <div class="col-sm-8 form-inline">
                <input type="text" class="form-control" id='identidad' name="identidad" required="required">
                <button type="button" class="btn btn-primary" id="search_identidad"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button><br>
                <span class="label label-danger "  id='error_identidad' style="display:none">No se encontraron registros con la identidad ingresadda</span>
                <span class="label label-warning "  id='error_identidad2' style="display:none">Existe una Prueba Activa con la Identidad Ingresada</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Número de Expediente Clínico</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="expediente" name='expediente' readonly >
                <input type="hidden" class="form-control" id="boleta" name='boleta' readonly >
              </div>
            </div>
            {{formulario.fecha_solicitud|bootstrap_horizontal:'col-md-4'}}            
            {{formulario.numero_prueba|bootstrap_horizontal:'col-md-4'}}
            {{formulario.fecha_extraccion|bootstrap_horizontal:'col-md-4'}}
            {{formulario.fecha_muestra|bootstrap_horizontal:'col-md-4'}}
            {{formulario.fecha_prueba|bootstrap_horizontal:'col-md-4'}}
            {{formulario.nombre_persona_prueba|bootstrap_horizontal:'col-md-4'}}
            {{formulario.kit_prueba_tamizaje|bootstrap_horizontal:'col-md-4'}}
            {{formulario.resultado_prueba_tamizaje|bootstrap_horizontal:'col-md-4'}}
            <div id='prueba_positiva' style="display:none">
              {{formulario.kit_prueba_confirmatoria|bootstrap_horizontal:'col-md-4'}}
              {{formulario.fecha_prueba_confirmatoria|bootstrap_horizontal:'col-md-4'}}
              {{formulario.resultado_prueba_confirmatoria|bootstrap_horizontal:'col-md-4'}}
              {{formulario.nombre_laboratorio|bootstrap_horizontal:'col-md-4'}}
              {{formulario.fecha_refirio_prueba_confirmatoria|bootstrap_horizontal:'col-md-4'}}
            </div>
          </div>

          <div class="col-sm-1">
          </div>
          <div class="col-sm-1 pull-right">
          </div>
          <div class="col-sm-2">
            <div class="small-box bg-aqua">
              <div class="inner text-center">
                <b><p id="resultado">SIN RESULTADO</p></b>
              </div>
              <p class="small-box-footer"><b>Resultado</b></p>
            </div>
          </div>
        </div>        
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-xs-12 no-print">
          <button type="submit" class="btn btn-primary">Guardar Registro</button>
          <button type="button" class="btn btn-success"><i class="fa fa-print"></i>Imprimir Boleta
          </button>
        </div>
      </div>

      
    </div>
  </form>
</div>
<script type="text/javascript">
$('#id_kit_prueba_tamizaje').attr('required', 'true');
  $("select").select2();
  $('#id_fecha_solicitud, #id_fecha_extraccion, #id_fecha_muestra, #id_fecha_prueba, #id_fecha_prueba_confirmatoria, #id_fecha_refirio_prueba_confirmatoria').daterangepicker({
        singleDatePicker: true,
        maxDate: moment(),
        showDropdowns: true,
        locale: {
          format: 'YYYY-MM-DD',
          daysOfWeek: [
            "Do",
            "Lu",
            "Ma",
            "Mi",
            "Ju",
            "Vi",
            "Sa"
        ],
        monthNames: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ],
        },
    },
    function(start, end, label) {
        var years = moment().diff(start, 'years');
        //alert("You are " + years + " years old.");
    });




  //BUSQUEDA DE IDENTIDAD
  $('#identidad').attr({
    type:'number',
   onKeyDown:"if(this.value.length==15 && event.keyCode!=8 && event.keyCode!=13) return false;"
  }).keypress(function (e) {
      identidad = $(this).val().replace('-', '');
      identidad = identidad.replace('-', '')
      var key = e.which;
      if(key == 13){
      event.preventDefault();
        $.ajax({
          url: "{% url 'prueba_vih' %}",
          data: { 
                  identidad: identidad
                }
        })
          .done(function( data ) {
          
            if (data.persona==false){
              $('#error_identidad').show()
              $('#expediente,#id_fecha_solicitud, #id_numero_prueba, #id_fecha_extraccion, #id_fecha_muestra, #id_fecha_prueba, #id_kit_prueba_tamizaje, #id_resultado_prueba_tamizaje, #id_nombre_persona_prueba, #id_fecha_prueba_confirmatoria, #id_related_name, #id_institucion_prueba_confirmatoria, #id_resultado_prueba_confirmatoria, #id_nombre_laboratorio, #id_fecha_refirio_prueba_confirmatoria').val('')
            }else if (data.persona=='existe'){
              $('#error_identidad2').show()
              $('#expediente,#id_fecha_solicitud, #id_numero_prueba, #id_fecha_extraccion, #id_fecha_muestra, #id_fecha_prueba, #id_kit_prueba_tamizaje, #id_resultado_prueba_tamizaje, #id_nombre_persona_prueba, #id_fecha_prueba_confirmatoria, #id_related_name, #id_institucion_prueba_confirmatoria, #id_resultado_prueba_confirmatoria, #id_nombre_laboratorio, #id_fecha_refirio_prueba_confirmatoria').val('')
            }else{
            
              $('#error_identidad').hide()
              $('#id_numero_prueba').val(data.numero_prueba)
              $('#expediente').val(data.expediente)
              $('#boleta').val(data.boleta.pk)
              $('#id_nombre_persona_prueba').val(data.boleta.primer_nombre + ' ' + data.boleta.segundo_nombre + ' ' + data.boleta.primer_apellido + ' ' + data.boleta.segundo_apellido)
            }
          });
      }
  });

  $('#search_identidad').click(function (e) {
      identidad = $('#identidad').val()
      var key = e.which;
        $.ajax({
          url: "{% url 'prueba_vih' %}",
          data: { 
                  identidad: identidad
                }
        })
          .done(function( data ) {
          
            if (data.persona==false){
              $('#error_identidad').show()
              $('#error_identidad2').hide()
              $('#expediente,#id_fecha_solicitud, #id_numero_prueba, #id_fecha_extraccion, #id_fecha_muestra, #id_fecha_prueba, #id_kit_prueba_tamizaje, #id_resultado_prueba_tamizaje, #id_nombre_persona_prueba, #id_fecha_prueba_confirmatoria, #id_related_name, #id_institucion_prueba_confirmatoria, #id_resultado_prueba_confirmatoria, #id_nombre_laboratorio, #id_fecha_refirio_prueba_confirmatoria').val('')
           }else if (data.persona=='existe'){
              $('#error_identidad2').show()
              $('#error_identidad').hide()
              $('#expediente,#id_fecha_solicitud, #id_numero_prueba, #id_fecha_extraccion, #id_fecha_muestra, #id_fecha_prueba, #id_kit_prueba_tamizaje, #id_resultado_prueba_tamizaje, #id_nombre_persona_prueba, #id_fecha_prueba_confirmatoria, #id_related_name, #id_institucion_prueba_confirmatoria, #id_resultado_prueba_confirmatoria, #id_nombre_laboratorio, #id_fecha_refirio_prueba_confirmatoria').val('')
            }else{
            
              $('#error_identidad').hide()
              $('#error_identidad2').hide()
              $('#id_numero_prueba').val(data.numero_prueba)
              $('#expediente').val(data.expediente)
              $('#boleta').val(data.boleta.pk)
              $('#id_nombre_persona_prueba').val(data.boleta.primer_nombre + ' ' + data.boleta.segundo_nombre + ' ' + data.boleta.primer_apellido + ' ' + data.boleta.segundo_apellido)
            }
          });
  });

  $('input[name=resultado_prueba_tamizaje]').change(function(){
    confimatoria = $('input[name=resultado_prueba_confirmatoria]').val()
    tamizaje = $(this).val()

    if(confimatoria == 1 || tamizaje == 1){
      $('#resultado').text('POSITIVO')
    }
    if(confimatoria == 1 || tamizaje != 1){
      $('#resultado').text('NO CONCLUYENTE')
    }
    if(confimatoria != 1 || tamizaje == 1){
      $('#resultado').text('NO CONCLUYENTE')
    }
    if(confimatoria != 1 || tamizaje != 1){
      $('#resultado').text('NEGATIVO')
    }

    if ($(this).val() == 1){
      $('#prueba_positiva').show()
      $('#id_kit_prueba_confirmatoria').select2('destroy').prop('required', true)
      $('input[name=resultado_prueba_confirmatoria]').prop('required', true)
    }else{
      $('#prueba_positiva').hide()
      $('#id_kit_prueba_confirmatoria').prop('required', false)
      $('input[name=resultado_prueba_confirmatoria]').prop('required', false)
    }
  })

   $('input[name=resultado_prueba_confirmatoria]').change(function(){
    tamizaje = $('input[name=resultado_prueba_tamizaje]').val()
    confimatoria = $(this).val()

    if(confimatoria == 1 & tamizaje == 1){
      $('#resultado').text('POSITIVO')
    }
    if(confimatoria == 1 & tamizaje != 1){
      $('#resultado').text('NO CONCLUYENTE')
    }
    if(confimatoria != 1 & tamizaje == 1){
      $('#resultado').text('NO CONCLUYENTE')
    }
    if(confimatoria != 1 & tamizaje != 1){
      $('#resultado').text('NEGATIVO')
    }
  })
</script>
{% endblock %}

